<%= stylesheet_link_tag "chart_comments" %>
<div id="background_chart"> 
	<div id="chart"> 
		<div id="mask_on_holler"> 
			<div id="yup_on_holler"> 
				<div id="yup"> 
				</div> 
			</div> 
			<div id="139"> 
			</div> 
			<div id="1"> 
			</div> 
		</div> 
		<div id="b_copy_3"> 
		</div> 
		<div id="more"> 
		</div> 
		<div id="the_latest_on"> 
		</div> 
		<div id="145"> 
		</div> 
		<div id="to_greener_pastures"> 
		</div> 
		<div id="the_grouch_and_eligh"> 
		</div> 
		<div id="to_greener_pastures_s_outer_glow"> 
			<div id="to_greener_pastures_1"> 
			</div> 
		</div> 
		<div id="to"> 
		</div> 
		<div id="hours_ago_8_41am_2"> 
		</div> 
		<div id="added"> 
		</div> 
		<div id="chrisdigthing"> 
		</div> 
		<div id="manny"> 
		</div> 
		<div id="playlist_f_yeah_s"> 
		</div> 
		<div id="157"> 
		</div> 
		<div id="copy__2"> 
		</div> 
		<div id="copy_3__2"> 
		</div> 
		<div id="comments_box_3"> 
		</div> 
		<div id="mannysmall_polaroid"> 
		</div> 
		<div id="alba_copy_4"> 
		</div> 
		<div id="comments_box_2"> 
		</div> 
		<div id="chrisdigthing_1"> 
		</div> 
		<div id="maile_l"> 
		</div> 
		<div id="commented_wow_thanks_for_sharing_bad-ass_hope_you_get"> 
			<div id="timestamp_2"> 
			</div> 
		</div> 
		<div id="2"> 
		</div> 
		<div id="2"> 
		</div> 
		<div id="sarah_j"> 
		</div> 
		<div id="3"> 
		</div> 
		<div id="comment_button"> 
		</div> 
		<div id="alba_copy_3"> 
		</div> 
		<div id="to_greener_pastures_s_outer_glow_1"> 
			<div id="to_greener_pastures_2"> 
			</div> 
		</div> 
		<div id="promoted_selection_6_copy_2"> 
		</div> 
		<div id="layer_12_copy"> 
			<div id="176"> 
			</div> 
			<div id="layer_11_copy"> 
			</div> 
		</div> 
		<div id="to"> 
		</div> 
		<div id="copy_5__2"> 
		</div> 
		<div id="chrisdigthing_copy_4_s_drop_shadow"> 
		</div> 
		<div id="chrisdigthing_copy_4"> 
		</div> 
		<div id="timestamp_1"> 
		</div> 
		<div id="added"> 
		</div> 
	</div> 
	<div id="chart_copy"> 
		<div id="indemnify_me"> 
		</div> 
		<div id="great_one"> 
		</div> 
		<div id="smashing_pumpkin"> 
		</div> 
		<div id="the_jolly_green"> 
		</div> 
		<div id="surreal_walk_through_the_park"> 
		</div> 
		<div id="best_of_times"> 
		</div> 
		<div id="filthy_fruitees"> 
		</div> 
		<div id="sorry_doesn_t_say_it_s"> 
		</div> 
		<div id="heart1"> 
		</div> 
		<div id="1"> 
		</div> 
		<div id="also_recommend"> 
		</div> 
		<div id="to_greener_pastures_3"> 
		</div> 
		<div id="recommend_a_similar_track"> 
		</div> 
		<div id="204"> 
		</div> 
		<div id="people_who"> 
		</div> 
	</div> 
	<div id="yes_no_box_copy"> 
	</div> 
</div>