 <%= stylesheet_link_tag "comments" %>

<div id="yup_comment_activity"></div>
<div id="comment"></div>
<div id="mid_of_record_hole_copy"></div>
<div id="more_comments_link_comment_activity"></div>
<div id="chart_comments_comment_activity"></div>
<div id="also_recommend_comment_activity"></div>
<div id="recommend_a_similar_track_link"></div>
<div id="people_who_comment_activity"></div>
<div id="chart_copy_comment_activity"></div>
<div id="close_button_comment_activity"></div>
<div id="background_comments"></div>