 <%= stylesheet_link_tag "feedback" %>

<div id="bugsareproblems"></div>
<div id="big_logo_feedback"></div>
<div id="much_appreciated"></div>
<div id="clipboard"></div>
<div id="general_feedback"></div>
<div id="no_bugs"></div>
<div id="background_feedback"></div>