<%= stylesheet_link_tag "profile_page" %>
<div id="background_4"> 
	<div id="layer_1"> 
		<div id="mid_of_record_hole"> 
		</div> 
	</div> 
	<div id="top_border_copy_2"> 
	</div> 
	<div id="post-it"> 
	</div> 
	<div id="nirvana_cd"> 
	</div> 
	<div id="wendy_darling_cd"> 
	</div> 
	<div id="right_arrow"> 
	</div> 
	<div id="left_arrow"> 
	</div> 
	<div id="station_select_arrows"> 
	</div> 
	<div id="my_faves"> 
	</div> 
	<div id="my_ishlist_logo_2"> 
	</div> 
	<div id="yes_no_box"> 
	</div> 
	<div id="friends_dancing"> 
	</div> 
	<div id="territory_of_-"> 
	</div> 
	<div id="sarah_j"> 
	</div> 
	<div id="star_10"> 
	</div> 
	<div id="star_9"> 
	</div> 
	<div id="star_8"> 
	</div> 
	<div id="star_7"> 
	</div> 
	<div id="star_6"> 
	</div> 
	<div id="star_5"> 
	</div> 
	<div id="star_4"> 
	</div> 
	<div id="star_3"> 
	</div> 
	<div id="star_2"> 
	</div> 
	<div id="star_1"> 
	</div> 
	<div id="rate_it"> 
	</div> 
	<div id="yes"> 
	</div> 
	<div id="no"> 
	</div> 
	<div id="heard_before"> 
	</div> 
	<div id="comment"> 
		<div id="yup"> 
		</div> 
	</div> 
	<div id="short_latest_chart_copy_2"> 
	</div> 
</div> 