<%= stylesheet_link_tag "search_browse" %>

<form id="search_form">
<div id="background_search"></div>
<div id="background_search_copy"></div>
<div id="blank_torn_paper_search"></div>
<div id="mid_of_record_hole_search"></div>
<div id="close_button_search"></div>
<div id="logo_search_ish"></div>
<div id="search_it_up"></div>
<div id="search_header"></div>
<div id="search_song"><input id="song-search" style="padding-left:70px;" type="text" name="title" /></div>
<div id="search_artist"><input id="artist-search" style="padding-left:82px;" type="text" name="artist" /></div>
<div id="search_username"><input id="username-search" style="padding-left:120px;" type="text" name="username" /></div>
<div id="search_go"></div>
</form>
