<%= stylesheet_link_tag "search_results" %>

<div id="background_search_results"></div>
<div id="search_results"></div>
<div id="search_newsearch"></div>
<div id="next_arrow_results"></div>
<div id="previous_arrow_results"></div>
